@media only screen and (min-width : 995px) {

    nav ul li a {
        padding: .5rem 1rem;
    }
    nav{
        display: flex;
    }

    *{
        margin: 0;
        padding: 0;
    }
    header{
        display :flex ;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }
    /* header div:nth-child(2){
        width: 100%;
    } */
    
    
    header p {
        margin-top: -1px;
    }
    header h1 {
        margin-top: -13px;
    }
    .social{
        display: flex;
        gap: 10px;
        align-self: flex-start;
        padding-top: 20px;
        padding-right: 30px;
    }
    .social i{
        font-size: 25px;
        color: rgb(0, 13, 255);
    }
    .galery_container{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}