/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. 
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;} */

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
nav button{
    margin: .2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;

}

nav{
    background-color: rgb(0, 13, 255);
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style-type: none;padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

header h1 {
    font-size: 1.5rem;
}
header h2 {
    font-size: 1rem;
}
header p {
    margin-top: -10px;
}
header h1 {
    margin-top: -10px;
}
.logo img{
    margin: 10px;
    margin-left: 40px;
    width: 80px;
}
footer img{
    margin: 10px;
    margin-left: 230px;
    border-radius: 10px;
    width: 90px;
}
footer{
    display: block;
    padding: 2px;
    background-color: rgb(255, 255, 255);
}
footer p{
    width: 100%;
    text-align: center;
    display: block;
    justify-content: flex-end;
    color: rgb(0, 0, 0);
}
/* Footer */
.footer-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}
.footer-base{
    text-align: center;
    color: #eee;
    background-color: #0800f9;
}
.footer-base p{
    color: #eee;
}
.footer-contact{
    text-align: center;
}
footer hr{
    height: 1px;
    background-color: #0800f9;    
    border: none;        
}
.footer-map {
    font-size: 60px;
    color: rgb(0, 13, 255);
    justify-self: flex-end;
    margin-right: 230px;
}
footer p, h4, a{
    color: #000000;
}
#meet-greet{
    text-align: center;
}
.social {
    display: flex;
    gap: 10px;
    align-self: flex-start;
    padding-top: 20px;
    padding-right: 30px;
}
.social a {
    color: blue;
}
header{
    display :flex;
    align-items: center;
    background-color: white;
}
header div:nth-child(2){
    width: 100%;
}
.logo img{
    margin: 10px;
    margin-left: 40px;
}
.year{
    padding-right: 30px;
    color: white;
}



/* Directory Page Stuff */
.directory-main{
    width: 100%;
}

#directory-selector{
    width: 100%;
    text-align: center;
}

#directory-selector button{
    padding: 1rem;
    margin: .5rem;
    border-radius: 5px;
    background-color: rgb(0, 47, 255);
    border: 1px rgb(0, 0, 0) solid;
    color: white;
}

#directory-selector button.active{
    background-color: rgb(0, 47, 255);
    color: white;
}

/* Cards view */

.directory-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
}

.directory-cards section{
    text-align: center;    
    border: 2px solid rgb(0, 25, 218);    
    width: 300px;
    background-color: #ffffff;
    padding: 1rem;
    margin: .5rem;
    border-radius: 10px;

}

.directory-cards .gold-member{
    box-shadow: inset 1rem 1rem gold;
}

/* List View */

.directory-list{    
    display: grid;
    justify-items: center;   
    padding: 1rem;    
}

.directory-list section img{
    display: none;
}

.directory-list section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    width: 70%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.directory-list section:nth-child(odd) {
    background-color: paleturquoise;
}

.directory-list section:nth-child(even) {
    background-color: azure;
}

#directory_data section{
    border-radius: 10px;
}

/* for the prophet */

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}
.silver {
    border: 3px solid silver !important;
}
.gold {
    border: 3px solid gold !important;
}
.bronze {
    border: 3px solid rgb(207, 143, 15) !important;
}