section{
    width: 300px;
    background-color: rgb(10, 101, 238);
    border: 2px solid black;
    margin: 0 auto;
    padding: 10px;
    gap: 10px;
}
section h2, section h3, section img{
    margin: 0 auto;
    display: block;
    text-align: center;            
}